@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=VT323&display=swap');

.Pop {
    position: relative;
    margin: auto;
    margin-top: -125%;
    height: 50%;
    width: 90%;
    background: rgb(184, 148, 169);
    z-index: 30;
    border-radius: 8px;
    border-color: black;
    border-width: 2.5px;
    border-style: outset;
    font-family: 'VT323';
}

.topPop {
    margin-top: 1.5%;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.title {
    width: 100%;
    text-align: center;
    margin-left: 7.5%;
    font-weight: bold;
}


.mainPop {
    width: 100%;
    height: 55%;
    margin: auto;
    text-align: center;
    font-size: 16px;
}

.botPop {
    width: 80%;
    height: 25%;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

@media (min-width: 640px) {
    .Pop {
        margin-top: 0;
        position: relative; top: -70%;
        height: 22%;
        width: 45%;
    }

    .topPop {
        font-size: 24px;
    }

    .mainPop {
        width: 95%;
        font-size: 24px;
    }

    .botPop {
        width: 80%;
        font-size: 12px;
    }
}