
.appBody {
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  justify-items: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .calc {
    animation: logo-spin infinite 20s linear;
  }
}